.Message {
  align-items: center;
  background-color: #55efc4;
  display: flex;
  transition: all 0.3s ease-out;
  width: 100%;
}

.Message.-open {
  height: 50px;
  opacity: 100%;
}

.Message.-close {
  height: 0;
  opacity: 0%;
}

.Message.-error {
  background-color: #ff7675;
}
